.title {
  text-align: center;
  color: white;
  font-size: 6vw;
  padding-top: 10%;
  padding-bottom: 5%;
}

.text-area {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  font-size: 1.5vw;
  color: white
}

.text-area::placeholder {
  color: white;
}

.row-padding {
  padding: 5%;
}

.add-picture {
  width: 100%;
  height: 10vh;
  background-image: url('../../assets/Add_picture.png');
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: center;
}
.layout-image {
  padding: 3%;
}

.yellow-text {
  color: yellow;
}
#login-button {
  background-image: url('../../assets/Login_button.png');
}

#register-button {
  background-image: url('../../assets/Register_button.png');
  background-repeat: no-repeat; 
}

.align-button-no-image {
  text-align: center;
}

#picture-text {
  text-align: center;
  height: 10vh;
  padding: 5%;
}

#sign-up-link {
  text-align: center;
  padding-top: 10%;
}