@import "~bootstrap/scss/bootstrap";

#greeting {
  text-align: center;
  color: white;
  font-size: 100vw;
  padding: 40px;
}

.dashboard-thumbnail {
  background-image: url('../assets/Container.png');
  background-size: cover;
  
}

.thumbnail-title {
  font-size: 2vw;
  text-align: center;
  color: black;
  padding: 10px;
}

.thumbnail-headline {
  font-size: medium
}

.thumbnail-content {
  font-size: large;
}

#weather-location {
  color: black;
  text-align: center;
  font-size: 2vw;
  padding-top: 20px;
}

#weather-icon {
  text-align: center;
  padding: 10px;
}

#weather-temp {
  text-align: center;
  color: black;
  padding-top: 20px;

}