@import "~bootstrap/scss/bootstrap";

#greeting {
  text-align: center;
  color: white;
  font-size: 100vw;
  padding: 40px;
}

.dashboard-thumbnail {
  background-image: url('../assets/Container.png');
  background-size: cover;
  
}